.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.schweizer-franke{
    position: absolute;
    
    top: 80px;
    left: 700px;
    z-index: -100;
}



.mybox {
    background-color: #cfc ;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }

