.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.dollar-box {
    width: 320px;
    margin: 0;
    text-align: center;
    top: 100px;
      border: 2px solid #ccc; 
      border-radius: 15px;
      padding: 10px;
      background-color: rgb(209, 255, 209);
      box-shadow: 0px 0px 15px #999;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);;
  }



.mybox {
    background-color: #cfc ;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }

  .schweizer-franke{
    position: absolute;
    
    top: 65px;
    left: 700px;
}
