.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.dollar-box {
    background-color: rgb(209, 255, 209) ;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    text-align: center;
    top: 100px;
  }

.mybox {
    background-color: #cfc ;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }
