.popup{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    max-height: 60vh;
    background-color: #fff;
    overflow: scroll;
    overflow-x: hidden;
}



.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}