.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.dollar-boxnew {
  /* width: 320px; */
  width: 33em;
  margin: 0 10 0 0;
  text-align: center;
  /* top: 120px; */
  border: 2px solid #ccc; 
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(209, 255, 209);
  box-shadow: 0px 0px 15px #999;
  /* position: relative; */
  /* left: 270px; */
}

  .dollar-box-3malnew {
    width: 320px;
    /* margin: 0; */
    text-align: center;
    height: fit-content;
    /* top: 120x; */
    border: 2px solid #ccc; 
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(209, 255, 209);
    box-shadow: 0px 0px 15px #999;
    /* position: relative; */
    /* left: 600px; */
     color: #000;
  }
  
  



.mybox {
    background-color: #cfc ;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }

  .schweizer-frankenew{
    /* position: absolute; */
    width: 200;
    /* top: 40px;
    left: 400px; */
    
    /* z-index: -100; */
}

.headerPastInvest{
  color: #000;
  font-size: 18px;
  text-align: start;
}

.wrapperpastinvest{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 80px;
  position: relative;
 
}


.containerpastinvest{
  display: flex;
  flex-direction: row;
  margin: 60px 20px 10px 20px;
  align-items: center;
}