.wrapper{
  top: 0;
  margin-top: 90px;
  margin-left: 10px;
  padding-bottom: 80px;
  color: #000;
}


.header{
  color: #000;
  font-size: 32px;
  text-align: start;
}

/* just a reset of the css */
body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
  }
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

  }
  
  .table-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    width: 93%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #DADADA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
  }
  
  .table-row {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 2vh;
    width: 100%;
    border-bottom: 1px solid #dadada;
  }
  
  .headinger {
    background-color: #ececec;
    color: #3e3e3e;
    font-weight: bold;
  }
  
  .row-item {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    color: black;
    flex-grow: 1;

  }
  .row-itemsmall {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    color: black;
    flex-grow: 0.5;

  }
  .row-item2 {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    color: black;
    flex-grow: 2;


  }
  .row-item3 {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    color: black;
    flex-grow: 3;


  }
  .row-item4 {
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    color: black;
    flex-grow: 4;

  }

  
  .row-sub-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
  }
  
  .row-sub-container .row-item {
    padding: 8px 0;
  }
  
  .table-row:last-child,
  .row-sub-container .row-item:last-child {
    border-bottom: 0;
  }


.btnGraph{
    border: none;
    background-color: transparent;
}

.errormsg{
  color: red;
  display: flex;
  justify-content: center;
}

.inputSell{
  width: 70px;
}

